@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.header-inner-data a{
  width: 200px;
}

ul.navbar li a {
  
  transition: all .3s ease-in-out;
  padding: 10px 10px;
}

ul.navbar li a:hover {
  color: #fff;
  background: #00bd93;
}

.header-inner {
  background: #fff;
}

.banner-main-wrap{
  background: #173647;
  padding: 50px 0;
}
.banner-main-inner{}
.banner-main-inner .banner-inner-content{
  margin: 0 50px;
}
.banner-inner-content h1{
  color: #fff;
  font-size: 58px;
  line-height: 73px;
}
.banner-inner-content h1 strong{}
.banner-inner-content h1 span{
  color: #00bd93;
}

.banner-inner-img{
  position: relative;
}
.banner-inner-img::before{
  content: '';
  position: absolute;
  top: -10px;
  border-width: 20px 0px 0px 20px;
  border-style: solid;
  border-color: #fff #fff #fff #fff;
  left: -10px;
  width: 90%;
  height: 90%;
  z-index: 2;

}
.banner-inner-img::after{
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  border-width: 170px 130px 135px 110px;
  border-style: solid;
  border-color: #36ba8fa8 transparent transparent #36ba8fa8;
  width: 40%;
  height: 42%;
  z-index: 3;
}
.banner-inner-img img{
  position: relative;
}

.about-info-wrap{
  padding: 50px 0;
}
.about-info-inner{
  width: 75%;
  margin: 100px auto;
}
.about-info-box{
    background: #fff;
    width: 85%;
    padding: 60px 50px 60px 125px;
    margin: 0 0 0 -30px;
    box-shadow: 0 3px 20px -5px #b2b2b2;
    position: relative;
    right: 30px;
    z-index: 1;
}
.about-info-box::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: -5px;
  background: #333;
  width: 5px;
  height: 95%;
}
.about-info-box::before{
  content: '';
  position: absolute;
  bottom: -5px;
  right: -5px;
  background: #000;
  width: 85%;
  height: 5px;
}
.about-info-box h2{
    color: #111;
    font-size: 60px;
    line-height: 66px;
    font-weight: 400;
    margin: 0 0 20px;
}
.about-info-box p{color: #000;font-size: 14px;line-height: 20px;margin: 0 0 10px;}
.about-info-box a.read-more{
    background: #fff;
    font-size: 16px;
    width: 175px;
    padding: 7px 10px;
    border: 1px solid #111;
    color: #111;
    display: block;
    text-align: center;
    margin: 30px 0 20px;
}
.about-info-img{
  width: 45%;
  position: relative;
  right: -30px;
  z-index: 2;
}

.about-info-img img{
  width: 100%;
}

.about-info-box.about-info-box2{
  padding: 60px 125px 60px 50px;
  right: inherit;
  left: 30px;
}
.about-info-box.about-info-box2::after{
  right: inherit;
  left: -5px;
}
.about-info-box.about-info-box2::before{
  right: inherit;
  left: -5px;
}
.about-info-img.about-info-img2{
  right: inherit;
  left: -30px;
}

footer.footer.bg-blue-500.p-6 {
  width: 75%;
  margin: 0 auto;
}

ul#menu-footer-menu li a {
  line-height: 1.9;
  text-decoration: underline;
}
ul#menu-footer-menu-2 li a {
  text-decoration: underline;
}

.banner-inner-content h1 {
  font-size: 52px;
  width: 522px;
}